@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Satisfy|Bungee');
* {
    margin: auto;
    padding: 0
}

.home-container {
    width: 100%;
    height: auto
}

.wallpaper {
    background-repeat: no-repeat;
    background-color: #B11622;
}

.man-polo {
  margin-top: .8cm;
  margin-left: 1cm;
  max-width: 20vw;
  height: auto;
}


.penguin {
    max-width: 10%;
    height: auto;
    margin-left: 2cm;
    margin-bottom: 2.5cm
}

.cursive .clothing .company {    
    color: black;
    font-size: 3cm;
    font-family: 'Satisfy', cursive;
}

.clothing {    
    color: black;
    font-size: 3cm;
    font-family: 'Satisfy', cursive;
}

.company {    
    color: black;
    font-size: 3cm;
    font-family: 'Satisfy', cursive;
}

